<p id="notice"><%= notice %></p>

<p>
  <strong>Formatted address:</strong>
  <%= @location.formatted_address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @location.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @location.lng %>
</p>

<p>
  <strong>Ne lat:</strong>
  <%= @location.ne_lat %>
</p>

<p>
  <strong>Ne lng:</strong>
  <%= @location.ne_lng %>
</p>

<p>
  <strong>Sw lat:</strong>
  <%= @location.sw_lat %>
</p>

<p>
  <strong>Sw lng:</strong>
  <%= @location.sw_lng %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @location.movie_id %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
